@page "/"
@layout _EmptyLayout
<PageTitle>Sign In</PageTitle>


<FluentStack HorizontalAlignment="HorizontalAlignment.Center">

    <h2 style="text-align:center">Sign In</h2>
</FluentStack>
<FluentStack HorizontalGap="20" Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">

    <FluentTextField  Placeholder="Email Address" @bind-Value=Email Required TextFieldType="TextFieldType.Email" />

    <FluentTextField Placeholder="Password" @bind-Value=Password Required TextFieldType="TextFieldType.Password" />

    <FluentLabel Typo="Typography.Subject" Class="text-danger"> @Warning </FluentLabel>
</FluentStack>

<FluentStack HorizontalGap="20" HorizontalAlignment="HorizontalAlignment.Center">
    <FluentButton Appearance="Appearance.Accent"
                    OnClick="async () => await SignInAsync()">
        <FluentIcon Value="@(new Icons.Regular.Size20.ArrowStepInRight())" Color="Color.Neutral" Slot="start" />
        Sign In
    </FluentButton>

    <FluentButton OnClick="MoveToSignUp">
        <FluentIcon Value="@(new Icons.Regular.Size20.ArrowStepOut())" Color="Color.Neutral" Slot="start" />
        Sign Up
    </FluentButton>
</FluentStack>
