@using System.Security.Claims;
@inherits LayoutComponentBase

<PageTitle>Van Thiel</PageTitle>

<div class="page">
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <NavMenu />
                </div>
            </Authorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
    <main>

        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <div class="top-row px-4">
                        <span class="oi oi-person" aria-hidden="true"> Hello<a>@UserDisplayName(context.User.Claims)</a></span>
                    </div>
                    <article class="content px-4">
                        @Body
                    </article>
                </Authorized>

                <NotAuthorized>
                    <Unauthorized />
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </main>
</div>

@code {
    private string UserDisplayName(IEnumerable<Claim> claims)
    {
        var name = claims.FirstOrDefault(x => x.Type == "FullName").Value;

        return name;
    }
}